* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(19, 19, 21, 0.7); }

.current:before {
  position: absolute;
  background: #fe6519;
  content: "";
  height: 4px;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(22px); }

#toTop {
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 34px;
  cursor: pointer;
  display: none;
  z-index: 3;
  color: #e87135;
  font-size: 48px; }

#main-wrapper {
  background-color: #282828; }

.wrapper-header {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  padding: 0 105px; }

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 0; }
  .header-contacts #logo-wrapper {
    max-width: 100%;
    height: 100px; }
    .header-contacts #logo-wrapper a .logo {
      width: 200px; }
  .header-contacts #contacts {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .header-contacts #contacts #phone {
      font-size: 16px;
      margin-bottom: 16px;
      color: #fff; }
      .header-contacts #contacts #phone i {
        padding: 8px 10px;
        margin: 0 7px;
        border: 2px solid #fff;
        border-radius: 50%; }
    .header-contacts #contacts ul li {
      display: inline-block;
      text-align: center;
      margin: 5px; }
      .header-contacts #contacts ul li a {
        font-size: 19px;
        border-radius: 50%;
        border: 2px solid #fff;
        padding: 5px 10px;
        transition-duration: 0.5s;
        color: #fff; }
        .header-contacts #contacts ul li a:hover {
          background-color: #fe6519;
          border: 2px solid #fe6519;
          color: #4c4f52; }
        .header-contacts #contacts ul li a i {
          width: 19px; }

.background {
  background: url("../img/background-04.jpg") center top fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative; }

.content {
  text-align: center; }
  .content h1 {
    color: #fe6519;
    font-size: 93px;
    margin-top: 0; }
  .content p {
    margin-bottom: 63px;
    letter-spacing: 0px;
    font-size: 30px;
    line-height: 30px;
    color: #fff; }
  .content a {
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease-out;
    padding: 18px 41px;
    letter-spacing: 0.025em;
    border: 2px solid #fe6519;
    color: #fbfbfb;
    text-transform: uppercase; }
    .content a:hover {
      background-color: #fe6519;
      color: #fff;
      text-decoration: none; }
    .content a:visited {
      color: #fff;
      text-decoration: none; }

.menu {
  z-index: 2; }

.main-menu {
  padding-left: 0;
  margin-top: 14px;
  height: 50px;
  display: flex;
  justify-content: space-between; }
  .main-menu li {
    float: left; }
    .main-menu li a {
      background: transparent !important;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      background-color: transparent;
      line-height: 50px;
      padding: 0px 0;
      color: #fff;
      transition: 0.3s background ease-out;
      position: relative; }
      .main-menu li a i {
        padding-right: 10px;
        transition: color 0.5s; }
      .main-menu li a:hover i {
        color: #fe6519; }
      .main-menu li a:hover:before {
        position: absolute;
        background: #fe6519;
        content: "";
        height: 4px;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all 0.3s;
        transform: translateY(22px); }

.sticky {
  position: fixed;
  top: 0;
  left: 1%;
  padding: 0 105px;
  width: 100%; }

.background-menu {
  background-color: rgba(40, 40, 40, 0.9); }

#description {
  overflow: hidden; }

.description-wrapper {
  text-align: center;
  padding: 15px 35px; }
  .description-wrapper p {
    color: #fbfbfb;
    font-size: 30px;
    margin: 30px 0; }
  .description-wrapper h2 {
    color: #fbfbfb;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    position: relative;
    display: inline-block; }
    .description-wrapper h2 span {
      color: #fe6519; }
    .description-wrapper h2:before {
      position: absolute;
      background-color: #fe6519;
      content: "";
      height: 3px;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(15px); }
  .description-wrapper .item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 457px;
    margin: 30px 0 40px 0; }
    .description-wrapper .item .description-item:nth-child(1) {
      background-image: url("../img/photo-laugh.jpg"); }
    .description-wrapper .item .description-item:nth-child(2) {
      background-image: url("../img/photo-time.jpg"); }
    .description-wrapper .item .description-item:nth-child(3) {
      background-image: url("../img/photo-client.jpg"); }
    .description-wrapper .item .description-item:nth-child(4) {
      background-image: url("../img/photo-job.jpg"); }
    .description-wrapper .item .description-item:nth-child(5) {
      background-image: url("../img/photo-celebration.jpg"); }
    .description-wrapper .item .description-item:nth-child(6) {
      background-image: url("../img/photo-relax.jpg"); }
    .description-wrapper .item .description-item {
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 30%;
      margin-bottom: 25px;
      box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.6); }
      .description-wrapper .item .description-item .description-content {
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        bottom: 0;
        position: absolute; }

#adv {
  width: 100%;
  height: 600px;
  background: url("../img/background-description-01.jpg") no-repeat center top fixed;
  background-size: cover;
  position: relative;
  text-align: center; }
  #adv .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(11, 12, 23, 0.75); }
    #adv .overlay .wrapper h2 {
      text-transform: uppercase;
      font-size: 35px;
      color: #fff;
      position: relative;
      display: inline-block;
      padding-top: 15px; }
      #adv .overlay .wrapper h2:before {
        position: absolute;
        background-color: #fe6519;
        content: "";
        height: 3px;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(15px); }
    #adv .overlay .wrapper .items {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #adv .overlay .wrapper .items .advantages {
        margin-bottom: 15px;
        width: 30%;
        color: #fff; }
        #adv .overlay .wrapper .items .advantages .title {
          text-transform: uppercase;
          font-size: 25px; }
        #adv .overlay .wrapper .items .advantages i {
          margin-bottom: 36px;
          font-size: 41px;
          position: relative;
          color: #e87135; }
          #adv .overlay .wrapper .items .advantages i:after {
            content: '';
            display: block;
            height: 30px;
            left: 50%;
            position: absolute;
            top: calc(100% + 5px);
            width: 1px;
            background: #fff; }

#rooms {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  #rooms #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #150e14; }

.owl-prev, .owl-next {
  color: #fff;
  position: absolute;
  top: 50%;
  font-size: 67px;
  opacity: 0.4;
  transition: opacity 0.9s; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }

.owl-next {
  right: 0; }

.halls {
  width: 100%; }
  .halls .slider .item {
    display: flex;
    justify-content: space-between;
    margin-top: 75px; }
    .halls .slider .item .halls-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 417px;
      width: 45%;
      margin-left: 40px; }
    .halls .slider .item .halls-img-first {
      background-image: url("../img/rooms-01(4).jpg"); }
    .halls .slider .item .halls-img-second {
      background-image: url("../img/rooms-02(1).jpg"); }
    .halls .slider .item .halls-img-third {
      background-image: url("../img/rooms-03(1).jpg"); }
    .halls .slider .item .halls-img-fourth {
      background-image: url("../img/rooms-04(1).jpg"); }
    .halls .slider .item .halls-img-fifth {
      background-image: url("../img/rooms-05(1).jpg"); }
    .halls .slider .item .halls-img-sixth {
      background-image: url("../img/rooms-06.jpg"); }
    .halls .slider .item .halls-content {
      width: 50%;
      padding: 0 100px 0 0; }
    .halls .slider .item .halls-title {
      font-size: 40px;
      text-transform: uppercase;
      color: #c9c9c9;
      font-weight: 700; }
    .halls .slider .item .halls-transcript {
      color: #959595;
      margin-bottom: 40px; }
    .halls .slider .item .wrapper-adv {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .halls .slider .item .wrapper-adv .halls-adv {
        width: 50%;
        max-width: 225px;
        border-left: 1px solid #fe6519;
        padding: 0px 0px 0px 10px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .halls .slider .item .wrapper-adv .halls-adv .main-item {
          line-height: 12px;
          margin-bottom: 10px;
          color: #474747;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 18px; }
        .halls .slider .item .wrapper-adv .halls-adv .halls-icon01 {
          background-image: url("../img/icons_rooms_01.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 35px;
          width: 40px; }
        .halls .slider .item .wrapper-adv .halls-adv .halls-icon-area {
          background-image: url("../img/flat-plan.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 59px;
          width: 48px;
          margin-bottom: 20px; }
        .halls .slider .item .wrapper-adv .halls-adv .area {
          font-size: 30px; }
        .halls .slider .item .wrapper-adv .halls-adv .halls-details {
          display: flex;
          justify-content: space-between;
          line-height: 4px;
          flex-wrap: wrap;
          text-transform: none; }
          .halls .slider .item .wrapper-adv .halls-adv .halls-details .info {
            margin-top: 11px; }
            .halls .slider .item .wrapper-adv .halls-adv .halls-details .info .small-text {
              font-size: 10px;
              color: #838383; }
            .halls .slider .item .wrapper-adv .halls-adv .halls-details .info .small-cost {
              font-size: 15px;
              color: #fff;
              font-weight: 600; }
              .halls .slider .item .wrapper-adv .halls-adv .halls-details .info .small-cost span {
                font-size: 10px; }
            .halls .slider .item .wrapper-adv .halls-adv .halls-details .info i {
              width: 24px;
              height: 24px;
              font-size: 24px;
              margin: 0 0 11px 0;
              color: #fe6519; }
      .halls .slider .item .wrapper-adv .halls-btn .btn-book {
        font-weight: 600;
        transition: all .3s ease-out;
        padding: 20px 48px;
        letter-spacing: 0.025em;
        font-size: 16px;
        color: #fe6519;
        text-transform: uppercase;
        border: 2px solid #fe6519;
        background: transparent; }
        .halls .slider .item .wrapper-adv .halls-btn .btn-book:hover {
          background-color: #fe6519;
          color: #150e14; }
        .halls .slider .item .wrapper-adv .halls-btn .btn-book i {
          padding-left: 6px; }

#price {
  height: auto;
  background-color: #333;
  text-align: center;
  overflow: hidden; }

.cost {
  margin-top: 15px; }
  .cost .payment-h2 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fbfbfb; }
    .cost .payment-h2:before {
      position: absolute;
      background-color: #fe6519;
      content: "";
      height: 3px;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(15px); }

.pay-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px; }
  .pay-box .payment {
    margin-top: 142px;
    max-width: 370px;
    position: relative;
    padding: 0 20px; }
    .pay-box .payment .payment-img {
      position: absolute;
      top: -25%;
      left: 23%;
      z-index: 1;
      width: 200px;
      height: 200px;
      transition: all 300ms ease-out 0s;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid #fff;
      border-radius: 100%;
      transition: all 600ms ease-out 0s; }
    .pay-box .payment .payment-img-standart {
      background-image: url("../img/price-01.jpg"); }
    .pay-box .payment .payment-img-rooms {
      background-image: url("../img/price-02.jpg"); }
    .pay-box .payment .payment-img-special {
      background-image: url("../img/price-03.jpg"); }
    .pay-box .payment .payment-content {
      height: 385px;
      width: 320px;
      border: 1px solid #FFF;
      color: #fff;
      padding: 127px 30px 30px;
      transition-duration: 0.8s; }
      .pay-box .payment .payment-content:hover {
        background: rgba(254, 101, 25, 0.5); }
      .pay-box .payment .payment-content h2 {
        text-align: center;
        color: #fe6519; }
      .pay-box .payment .payment-content ul {
        padding: 5% 10%; }
        .pay-box .payment .payment-content ul li {
          line-height: 40px;
          justify-content: space-between;
          display: flex; }
          .pay-box .payment .payment-content ul li span {
            font-size: 19px;
            color: #fe6519; }
    .pay-box .payment .payment-but {
      font-weight: 700;
      width: 100%;
      height: 49px;
      border: 1px solid #fff;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      background-color: #fe6519;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out; }
      .pay-box .payment .payment-but:hover {
        font-size: 15px;
        opacity: 0.9; }

#events {
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.owl-prev, .owl-next {
  color: #fff;
  position: absolute;
  top: 50%;
  font-size: 67px;
  opacity: 0.4;
  transition: opacity 0.9s; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }

.owl-next {
  right: 0; }

.event-wrapper {
  text-align: center; }
  .event-wrapper .event-h2 {
    color: #fbfbfb;
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    display: inline-block;
    margin: 35px 0 45px 0; }
    .event-wrapper .event-h2:before {
      position: absolute;
      background-color: #fe6519;
      content: "";
      height: 3px;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(15px); }

.event .item {
  top: 50%;
  padding: 0 50px;
  overflow: hidden; }
  .event .item:hover img {
    opacity: 0.3; }
  .event .item:hover .middle {
    opacity: 1; }
  .event .item .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .event .item .middle .text {
      color: white;
      font-size: 18px; }
  .event .item img {
    width: 100%;
    height: auto;
    transition: .5s ease;
    margin: 0 auto; }

#gallery {
  height: auto;
  background-color: #000; }

.gallery-item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 1s; }
  .gallery-item div:nth-child(1) {
    flex-grow: 0;
    background-image: url("../img/gallery-01.jpg"); }
  .gallery-item div:nth-child(2) {
    flex-grow: 8;
    background-image: url("../img/gallery-02.jpg");
    background-position: center; }
  .gallery-item div:nth-child(3) {
    flex-grow: 3;
    background-image: url("../img/gallery-03.jpg");
    background-position: center; }
  .gallery-item div:nth-child(4) {
    flex-grow: 0;
    background-image: url("../img/gallery-04.jpg"); }
  .gallery-item div:nth-child(5) {
    flex-grow: 4;
    background-image: url("../img/gallery-05.jpg"); }
  .gallery-item div:nth-child(6) {
    flex-grow: 0;
    background-image: url("../img/gallery-06.jpg"); }
  .gallery-item div:nth-child(7) {
    flex-grow: 5;
    background-image: url("../img/gallery-07.jpg"); }
  .gallery-item div:nth-child(8) {
    flex-grow: 0;
    background-image: url("../img/gallery-08.jpg"); }
  .gallery-item div:nth-child(9) {
    flex-grow: 0;
    background-image: url("../img/gallery-09.jpg"); }
  .gallery-item div:nth-child(10) {
    flex-grow: 7;
    background-image: url("../img/gallery-10.jpg"); }
  .gallery-item div:nth-child(11) {
    flex-grow: 0;
    background-image: url("../img/gallery-11.jpg"); }
  .gallery-item div:nth-child(12) {
    flex-grow: 4;
    background-image: url("../img/gallery-12.jpg"); }
  .gallery-item .gallery-img {
    display: inline-block;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border: 6px solid black;
    transform: scale(1);
    transition: all 0.4s ease-in; }
    .gallery-item .gallery-img:hover {
      transition: all 0.4s ease-in;
      transform: scale(1.3);
      box-shadow: 0px 0px 150px #000000;
      z-index: 2; }

#partner {
  height: 100vh;
  background-color: #150e14;
  width: 100%; }

.partner-box {
  text-align: center; }
  .partner-box .partner-h2 {
    font-size: 35px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fbfbfb;
    text-transform: uppercase;
    padding-top: 15px; }
  .partner-box .partner-h2:before {
    background-color: #fe6519;
    content: "";
    height: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(15px);
    position: absolute; }
  .partner-box .partner-description {
    width: 20%; }
  .partner-box .common-partner {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px; }
    .partner-box .common-partner .partner-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between; }
      .partner-box .common-partner .partner-item .partner-img {
        width: 200px;
        margin: 30px 0;
        height: 100px; }
        .partner-box .common-partner .partner-item .partner-img img {
          transition: filter 0.6s;
          max-width: 224px;
          filter: grayscale(100%);
          height: 110px; }
          .partner-box .common-partner .partner-item .partner-img img:hover {
            filter: grayscale(0%); }
  .partner-box .partner-display {
    display: none;
    visibility: collapse;
    height: 0; }

#form {
  min-height: auto;
  background-color: #333;
  overflow: hidden; }

.some {
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  height: auto; }
  .some .piece {
    width: 4%; }
  .some .form-wrapper {
    width: 50%;
    padding: 30px 50px;
    background-color: #333; }
    .some .form-wrapper h2 {
      text-transform: uppercase;
      color: #fe6519;
      text-align: center;
      font-size: 33px;
      margin-bottom: 26px; }
    .some .form-wrapper p {
      text-align: center;
      color: #fff;
      font-size: 20px;
      margin-bottom: 27px; }
    .some .form-wrapper form {
      align-items: center;
      align-content: space-around;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 415px;
      width: 100%;
      display: flex;
      color: #fff;
      -moz-placeholder-color: #fff;
      -moz-placeholder-font-weight: 600;
      -moz-placeholder-text-transform: uppercase;
      -ms-input-placeholder-color: #fff;
      -ms-input-placeholder-font-weight: 600;
      -ms-input-placeholder-text-transform: uppercase; }
      .some .form-wrapper form .form-input, .some .form-wrapper form textarea {
        outline: none;
        border: 2px solid #fe6519;
        background-color: transparent;
        font-size: 15px; }
      .some .form-wrapper form .form-input {
        padding: 26px 15px;
        width: 250px;
        height: 36px; }
      .some .form-wrapper form button {
        border: 2px solid #fe6519;
        background-color: transparent;
        font-size: 15px;
        outline: none;
        padding: 13px 41px;
        transition: all 0.3s ease-out;
          transition-letter-spacing: 0.025em;
        text-transform: uppercase;
        font-weight: 600; }
        .some .form-wrapper form button:hover {
          color: #333;
          background-color: #fe6519; }
      .some .form-wrapper form ::-webkit-input-placeholder {
        color: #fff;
        font-weight: 600;
        text-transform: uppercase; }
      .some .form-wrapper form ::-moz-placeholder {
        color: #fff;
        font-weight: 600;
        text-transform: uppercase; }
      .some .form-wrapper form textarea {
        padding: 17px 15px;
        width: 100%;
        outline: none; }
  .some .contacts-info {
    width: 46%;
    background-color: #333;
    padding: 30px 64px; }
    .some .contacts-info h2 {
      color: #fe6519;
      margin-bottom: 26px;
      font-size: 33px;
      text-transform: uppercase;
      position: relative;
      padding: 0 57px;
      z-index: 1; }
      .some .contacts-info h2:before {
        content: "";
        height: 25px;
        z-index: -1;
        position: absolute;
        left: 0;
        background-image: url("../img/logo1.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 82px;
        width: 52px;
        bottom: 0; }
    .some .contacts-info h3 {
      color: #fe6519;
      margin-bottom: 21px;
      margin-top: 38px;
      text-transform: uppercase; }
    .some .contacts-info p {
      color: #908a89;
      font-size: 18px;
      line-height: 1; }
      .some .contacts-info p a {
        text-decoration: none;
        color: #908a89;
        transition: color 0.4s ease-in-out; }
        .some .contacts-info p a:hover {
          color: #fe6519; }
    .some .contacts-info ul li {
      display: inline-block;
      text-align: center;
      margin: 5px; }
      .some .contacts-info ul li a {
        font-size: 19px;
        border-radius: 50%;
        border: 2px solid #908a89;
        padding: 5px 10px;
        transition-duration: 0.5s;
        color: #908a89; }
        .some .contacts-info ul li a:hover {
          background-color: #908a89;
          border: 2px solid #908a89;
          color: #333; }
        .some .contacts-info ul li a i {
          width: 19px; }

#map {
  max-width: 100%;
  height: auto; }

.map-wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map-wrapper iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

#modal-window {
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); }
  #modal-window .window {
    top: 25vh;
    left: 75vh;
    height: 57%;
    width: 31%;
    background-color: #150e14;
    position: relative; }
    #modal-window .window form {
      padding: 0 41px;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      -moz-placeholder-color: #c9c9c9;
      -moz-placeholder-font-weight: 600;
      -ms-input-placeholder-color: #c9c9c9;
      -ms-input-placeholder-font-weight: 600; }
      #modal-window .window form h3 {
        color: #c9c9c9;
        text-transform: uppercase; }
      #modal-window .window form .window-input {
        margin-top: -30px;
        outline: none;
        color: #c9c9c9;
        border: none;
        border-bottom: 2px solid #fe6519;
        background-color: transparent;
        font-size: 15px;
        padding: 26px 0;
        height: 36px; }
      #modal-window .window form ::-webkit-input-placeholder {
        color: #c9c9c9;
        font-weight: 600; }
      #modal-window .window form ::-moz-placeholder {
        color: #c9c9c9;
        font-weight: 600; }
      #modal-window .window form .window-btn {
        height: 36px;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #c9c9c9; }
    #modal-window .window #close {
      text-align: center;
      position: absolute;
      opacity: 1;
      top: 0;
      right: -48px;
      width: 48px;
      height: 48px;
      background-color: transparent;
      cursor: pointer;
      font-size: 25px; }
      #modal-window .window #close i {
        color: #c9c9c9; }

#footer {
  min-height: 180px; }
  #footer .background-footer {
    min-height: 200px;
    background: url("../img/background-04.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    position: relative; }
    #footer .background-footer .overlay-footer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(19, 19, 21, 0.7); }

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer-wrapper .footer-logo {
    line-height: 200px; }
    .footer-wrapper .footer-logo a .logo {
      max-width: 200px; }
  .footer-wrapper .footer-phones .footer-mobile i {
    padding: 8px 10px;
    margin: 0 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff; }
  .footer-wrapper .footer-phones .footer-mobile span {
    color: #fff; }
  .footer-wrapper .footer-phones .copyRight {
    font-size: 15px;
    margin-top: 15px;
    color: #fff; }
    .footer-wrapper .footer-phones .copyRight span {
      color: #fe6519; }
  .footer-wrapper .networks ul li {
    display: inline-block;
    text-align: center;
    margin: 5px; }
    .footer-wrapper .networks ul li a {
      font-size: 19px;
      border-radius: 50%;
      border: 2px solid #fff;
      padding: 5px 10px;
      transition-duration: 0.5s;
      color: #fff; }
      .footer-wrapper .networks ul li a:hover {
        background-color: #fe6519;
        border: 2px solid #fe6519;
        color: #4c4f52; }
      .footer-wrapper .networks ul li a i {
        width: 19px; }

.footer-phones {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  width: 34%;
  color: #fff;
  text-align: center; }

#name-error, #sname-error, #phone-error, #email-error, #client-phone-error {
  color: #e64545; }
