@media only screen and (max-width: 1024px) {
  .wrapper-header {
    padding: 0 10px; }
  .header-contacts {
    align-items: baseline; }
  .main-menu {
    display: none; }
  .sticky {
    padding: 0 10px; }
  #description {
    height: auto; }
  .description-item {
    height: 203px; }
  .description-wrapper {
    padding: 0 10px; }
  #adv .overlay .wrapper .items .advantages .title {
    font-size: 22px; }
  #rooms {
    height: 124vh; }
  .halls .slider .item .halls-content {
    padding: 0 36px 0 0; }
  .halls .slider .item .wrapper-adv .halls-adv {
    width: 44%; }
  .halls .slider .item .wrapper-adv .halls-btn .btn-book {
    padding: 20px 37px; }
  .event .item .middle .text {
    font-size: 15px; }
  .some .form-wrapper {
    padding: 0; }
  .some .form-wrapper form .form-input {
    width: 242px; }
  #partner {
    height: auto; }
  .partner-box .common-partner {
    padding: 20px 40px; }
  .partner-box .common-partner .partner-item .partner-img img {
    filter: none; } }

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block; }
  #phone {
    display: none; }
  .header-contacts #contacts {
    width: auto; }
  .content h1 {
    font-size: 83px; }
  .content p {
    font-size: 27px; }
  .content a {
    font-size: 15px;
    padding: 17px 36px; }
  .description-wrapper {
    padding: 0 10px; }
  .description-wrapper .item {
    height: auto; }
  .description-wrapper .item .description-item {
    width: 60%;
    left: 20%; }
  #adv {
    min-height: 792px; }
  #adv .overlay .wrapper .items .advantages {
    width: 49%; }
  #rooms {
    height: 200vh; }
  .halls .slider .item {
    flex-direction: column;
    align-items: center;
    margin: 40px 40px; }
  .halls .slider .item .halls-img {
    width: 90%;
    margin-left: 0px; }
  .halls .slider .item .halls-content {
    width: 90%; }
  .event .item .middle .text {
    font-size: 13px; }
  .partner-box .common-partner {
    display: none; }
  .partner-display {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding: 40px 0; }
  .partner-box .partner-h2 {
    font-size: 30px; }
  .partner-img {
    padding: 0 50px !important; }
  .owl-carousel .owl-item img {
    margin: 0 auto; }
  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    top: 25% !important; }
  .some .form-wrapper form {
    height: auto; }
  .some .contacts-info h2 {
    font-size: 30px; }
  .some .form-wrapper form .form-input {
    width: 100%;
    margin: 15px 0; }
  .some .contacts-info {
    padding: 30px 36px; }
  .some .form-wrapper form textarea {
    margin: 15px 0; }
  .some .form-wrapper form button {
    margin: 15px 0 30px 0; }
  #events {
    height: auto;
    width: 100%;
    padding: 0 10px 30px 10px; }
  .event .item {
    padding: 0 24px; }
  .event-wrapper .event-h2 {
    font-size: 30px; }
  #modal-window .window {
    top: 25%;
    left: 25%;
    height: 60%;
    width: 45%; } }

@media only screen and (max-width: 480px) {
  .header-contacts #logo-wrapper a .logo {
    width: 150px; }
  .header-contacts #contacts ul li a {
    padding: 5px 8px; }
  .header-contacts #contacts ul li a {
    font-size: 15px; }
  .header-contacts #contacts ul li a i {
    width: 14px; }
  .content h1 {
    font-size: 45px; }
  .content p {
    font-size: 19px; }
  .content a {
    padding: 16px 28px;
    font-size: 14px; }
  .description-wrapper .item .description-item {
    width: 84%;
    left: 8%; }
  .description-wrapper h2 {
    font-size: 30px; }
  .description-wrapper p {
    font-size: 28px; }
  #adv {
    min-height: 1150px; }
  #adv .overlay .wrapper h2 {
    font-size: 30px; }
  #adv .overlay .wrapper .items .advantages {
    width: 100%; }
  #adv .overlay .wrapper .items .advantages i:after {
    height: 26px; }
  #rooms {
    height: 139vh; }
  .halls .slider .item .wrapper-adv .halls-adv {
    display: none; }
  .halls .slider .item .halls-title {
    font-size: 30px; }
  .halls .slider .item .wrapper-adv .halls-btn .btn-book {
    font-size: 15px;
    padding: 17px 27px; }
  .halls .slider .item {
    margin: 40px 22px; }
  .halls .slider .item .halls-content {
    width: 100%;
    padding: 0; }
  .owl-prev, .owl-next {
    font-size: 47px; }
  .halls .slider .item .halls-img {
    width: 100%;
    min-height: 360px; }
  .cost .payment-h2 {
    font-size: 30px; }
  .partner-img {
    padding: 0 74px !important; }
  .event .item .middle .text {
    font-size: 18px; }
  .event .item {
    padding: 0; }
  .owl-carousel .owl-item img {
    width: 75% !important; }
  .owl-prev, .owl-next {
    top: 35%; }
  .gallery-item .gallery-img {
    width: 100%; }
  .partner-display {
    display: block !important !important; }
  .partner-box .common-partner {
    display: none; }
  .some .form-wrapper h2, .some .contacts-info h2 {
    font-size: 30px; }
  .some {
    flex-direction: column; }
  .some .form-wrapper {
    width: 100%; }
  .some .contacts-info {
    width: 100%;
    text-align: center; }
  .some .form-wrapper form .form-input, .some .form-wrapper form textarea {
    font-size: 13px; }
  .some .contacts-info h3 {
    margin-top: 0; }
  .footer-mobile {
    display: none; }
  .networks {
    display: none; }
  #modal-window .window {
    width: 65%;
    left: 17%;
    top: 22%; } }

@media only screen and (max-width: 320px) {
  #toTop {
    font-size: 40px; }
  .header-contacts #contacts ul li {
    margin: 0; }
  .description-wrapper h2, .some .contacts-info h2, .partner-box .partner-h2, .some .form-wrapper h2, #adv .overlay .wrapper h2, .cost .payment-h2, .event-wrapper .event-h2 {
    font-size: 23px !important; }
  .description-wrapper h2:before, #adv .overlay .wrapper h2:before, .cost .payment-h2:before, .event-wrapper .event-h2:before {
    transform: translateY(11px);
    height: 2px; }
  .description-wrapper p {
    margin: 15px 0; }
  .description-wrapper .item {
    margin: 17px 0 16px 0; }
  #adv {
    min-height: 1246px; }
  #adv .overlay .wrapper .items .advantages i {
    font-size: 36px; }
  .halls .slider .item .halls-title {
    font-size: 27px; }
  .cost .payment-h2 {
    font-size: 30px; }
  .pay-box .payment .payment-img {
    width: 150px;
    height: 150px;
    left: 24%;
    top: -22%; }
  .pay-box .payment {
    margin-top: 117px; }
  .pay-box .payment .payment-content h2 {
    font-size: 27px; }
  .pay-box .payment .payment-content {
    width: 248px;
    padding: 65px 12px 5px 12px;
    height: 298px; }
  .pay-box .payment .payment-content ul li span {
    font-size: 18px; }
  .pay-box .payment .payment-content ul {
    padding: 5% 8%; }
  .event-wrapper .event-h2:before {
    margin: 0 30px; }
  .event .item {
    padding: 0; }
  .event .item .middle .text {
    font-size: 14px; }
  .partner-img {
    padding: 0 !important; }
  .owl-prev, .owl-next {
    font-size: 58px;
    top: 35%; }
  .some .form-wrapper p {
    font-size: 17px; }
  .some .contacts-info h3 {
    font-size: 21px; }
  .footer-wrapper .footer-logo a .logo {
    max-width: 162px; }
  .copyRigth {
    font-size: 12px; }
  #modal-window .window {
    width: 100%;
    left: 0;
    top: 10%; }
  #modal-window .window #close {
    right: 0; } }
